<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>835519479865-1fk999m0fd0166ttmg5adbn3d67p239m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835519479865-1fk999m0fd0166ttmg5adbn3d67p239m</string>
	<key>API_KEY</key>
	<string>AIzaSyAokkABsAisY5UqKW-lIPzFSnACWjLQMzg</string>
	<key>GCM_SENDER_ID</key>
	<string>835519479865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JM.liv</string>
	<key>PROJECT_ID</key>
	<string>liv-app-8af89</string>
	<key>STORAGE_BUCKET</key>
	<string>liv-app-8af89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:835519479865:ios:7d443e25543a6682</string>
	<key>DATABASE_URL</key>
	<string>https://liv-app-8af89.firebaseio.com</string>
</dict>
</plist>