page-valet {
	.card-ios, .card-md {
		margin: 0;
		width: 100%;
		box-shadow: none;
	}
	.valet-row {
		border-top: 1px solid #a3a5a7;
		padding: 13px 16px 14px;
	    font-size: 2.0rem;
	    line-height: 1.4;

	    &:last-child {
	    	border-bottom: 1px solid #a3a5a7;
	    }

	    & p {
	    	font-size: 17px;
	    }
	}
}