<ion-content  padding="true" class="manual-ios-statusbar-padding registration-content no-scroll" scroll="false">

  <div class="error-box" *ngIf="errors.name || errors.email || errors.password || firebaseErrorMessage || errors.age">
    <p *ngIf="errors.name">Please enter a valid name</p>
    <p *ngIf="errors.email">Please enter a valid e-mail</p>
    <p *ngIf="errors.password"> Min length of password 6 symbols</p>
    <p *ngIf="firebaseErrorMessage">{{firebaseErrorMessage}}</p>
    <p *ngIf="errors.age">You must be older than 21 years</p>
  </div>

  <form class="list center-form" [formGroup]="regForm" (ngSubmit)="signupUser()" novalidate>
    <div class="logo"></div>
    <ion-list>
      <ion-item>
        <ion-label class="top-input">Name:</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input formControlName="pswrd"[(ngModel)]="userPassword" type="password" ></ion-input>
      </ion-item>   

      <ion-item>
        <ion-label>Birthday:</ion-label>
        <ion-datetime formControlName="dobStamp" [(ngModel)]="dateStr"  displayFormat="MMM DD, YYYY" ></ion-datetime>
      </ion-item>
       
      <ion-item>
       <ion-label>Zip Code:</ion-label>
         <ion-input type="tel" formControlName="zipCode" placeholder="XXXXXX"></ion-input>
      </ion-item>

      <ion-item on-tap="onMusicPreferenceClick()">
        <ion-icon name="ios-musical-notes" item-left></ion-icon>
        <ion-label  >Select Music Preference</ion-label>
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
          
    </ion-list>

    <button ion-button class="button button-calm button-block" type="submit" color="#000000"  >Sign Up</button>
    <a ui-sref="#" (click)="onExistAccountClick()" class="button button-light button-block button-clear have-account">Already have an account?</a>
  </form>
</ion-content>

<ion-footer style="text-align: center; height: 40px;">
  <small class="agreement-text">By signing up, you are agreeing to <br>the Terms of Use & Privacy Policy</small>
</ion-footer>
