page-registration {
  .invalid {
    border: 1px solid #ea6153;
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md,
  .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
    color: #000;
  }

  .registration-content {
    background: url(https://s3.amazonaws.com/ionic-io-static/i5CxQkRSYaDOdTLgKiR3_12471867_977394868963092_4550193530738327890_o.jpg) no-repeat center;
    background-size:cover;

    & .logo {
      display: block;
      width: 50%;
      height: 120px;
      margin-left: auto;
      margin-right: auto;

      background: url(https://s3.amazonaws.com/ionic-io-static/DCQO9S0QKaNxXEKF0eym_icon_template2.png) no-repeat center;
      background-size:cover;
    }
    & .text-input {
      text-align: right;
    }
  }

  .button-ios, .button-md {
    background-color: #22ECFC;
  }
  .agreement-text{
    color: white;
    text-align: center;
    font-size: 12px;
  }

  .center-form {
    width:290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
 
    & ion-item {
      background-color: rgba(255,255,255,0.7);
      font-size: 14px;

      & p {
        font-size: 12px;
        color: red;
        text-align: right;
      }
      
      &.top-input {
          border-radius: 4px 4px 0px 0px;   
      }
      
      &.bottom-input {
          border-radius: 0px 0px 4px 4px;
      }
    }
    .button-positive {
        opacity:0.9;
    } 
    .have-account {
      padding-top: 20px;
      height: 35px;
      color: white;
    }
  }
  
  .item-checkbox .checkbox {
    right: auto !important;
  }

  .checkbox-ios .checkbox-checked, .checkbox-md .checkbox-checked {
      border-color: #22ecfc;
      background-color: #22ecfc;
  }

  .terms-style {
    color: black;
    text-decoration: underline;
  }

  .error-box {
    background-color: rgba(255, 0, 0, 0.8);
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    width: 78%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 100;
    & p {
      color: white;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}


