<ion-header>
 	<ion-navbar>
    	<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
    	<ion-title>Photos</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-grid>
    <div *ngFor="let album of albums">
      <ion-row class="heading-album">
        <ion-item class="heading-album-item">
          <ion-avatar item-left>
            <ion-icon text-center name="photo_folder"></ion-icon>
          </ion-avatar>
          <p class="album-name" *ngIf="album.name">{{album.name}}</p>
          <p class="album-date" *ngIf="album.name">{{album.created_at | date:'d MMMM y'}}</p>
          <p class="album-onlydate" *ngIf="!album.name">{{album.created_at | date:'d MMMM y'}}</p>
        </ion-item>
      </ion-row>
      <ion-row wrap>
        <ion-col class="image-thumb-col" col-4 width-33 *ngFor="let image of images | groupbypipe:{album_id:album.id}">
          <div class="image-thumb" [ngStyle]="{'background-image': 'url(' + image.url_mini + ')'}" style="width: 100%; height: 100%;" image-thumb-gallery (click)="showFullPhoto(images, image)"></div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>

