page-tabchat {
	.scroll-content {
		padding: 16px 0 !important;
		font-size: 13px;
	    background-color: #1c1c1a;
	}
	.chat-scroll {
		height: 100% !important;
	}
	.spinner-chat {
		display: none;
		margin: 0 auto;
	}
	.spinner-ios-circles circle, .spinner-md-circles circle {
		fill: white;
	}

	.relative {
		position: relative;
	}
	
	.chatLog {

		.chatRow {
			min-height: 50px;
			width: 100%;
			margin: 7px 0;
		    overflow: hidden;
		}
		.to-me > div {
			&.chatMessage {
			    border-radius: 10px;
			    background-color: #c0bcbb;
			    color: #605d58;
			    &:before {
	    	        content: ' ';
				    position: absolute;
				    width: 0;
				    height: 0;
				    left: -14px;
				    right: auto;
				    top: 17px;
				    bottom: auto;
				    border: 7px solid;
				    border-color: transparent #c0bcbb transparent transparent;
			    }
			}
			float: left;
		}
		.from-me > div {
			&.chatMessage {
			    border-radius: 10px;
				background-color: #4a4a48;
				color: #e5e5e5;
			    &:before {
	    	        content: ' ';
				    position: absolute;
				    width: 0;
				    height: 0;
				    left: auto;
				    right: -14px;
				    top: 17px;
				    bottom: auto;
				    border: 7px solid;
				    border-color: transparent transparent transparent #4a4a48;
			    }
			}
			float: right;
		}
		.chatPhoto {
			.photo-div {
				display: block;
				margin: 7px auto 0 auto;
			    border-radius: 50%;
			    width: 35px; 
			    height: 35px; 
			    background-image: url(assets/default.png);
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}
			width: 20%;
		}
		.chatMessage {
			max-width: 70%;
		    padding: 16px;
		    position: relative;
		}
		.date-divider {
			line-height: 50px;
	    	text-align: center;
	    	color: #898989;
		}
	}
	.chatButtons {
	    background-color: #1c1c1a;
	    height: 70px;
	    width: 100%;
		.chatTextarea {
		    width: calc(100% - 70px);
	        padding-bottom: 15px;
    		padding-top: 15px;
    		padding-left: 10px;
    		padding-right: 5px;
		    margin: 10px;
		    height: 50px;
		    float: left;
		    background-color: #f2f2f2;
		    border-radius: 10px;
		    textarea {
	    	    margin: 0;
    			color: #605d58;
		    }
		}
		.chatInput {
			color: #0f0f0f;
			width: calc(100% - 25px);
		    float: left;
			input {
				margin: 0;
			    height: 25px;
			}
		}
		.chatAddMedia {
			background-color: #45d7d6;
		    border-top-left-radius: 10px;
    		border-bottom-left-radius: 10px;
			padding: 0;
			width: 50px;
			height: 50px;
			float: left;
		    margin: 10px 0;
		    button {
		    	background: none;
		    	padding-right: 0;
		    	width: 100%;
    			height: 100%;
		    }
		    img {
	    	    width: 17px;
    			height: 17px;
		    }
		    ion-icon {
		    	font-size: 2.2em;
    			color: white;
		    }
		}
	}

	ion-footer {
		height: 70px;
	}
	
	// emoji-input input {
	//     width: 100%;
	//     height: 10px;
	//     border: none;
	//     background: #f2f2f2;
	//     color: black;
	//     display: none;
	// }

	// .emoji-search.bottom {
	// 	background-color: #302f2f !important;
 //    	border: 1px solid #302f2f !important;
 //    	height: 200px;
	//     top: -190px;
	//     width: 100%;
	//     height: 160px;
 //    	& .search-header {
	// 	    background-color: #302f2f !important;
 //    		border-bottom: 1px solid #302f2f !important;
 //    	}
	// }

	// [_nghost-c0] .emoji-search[_ngcontent-c0] .emojis-container[_ngcontent-c0] {
	// 	height: 150px;
	// 	text-align: justify;
	// }

	// [_nghost-c0] {
	// 	bottom: -41px;
	// }

	.send-icon {
	    font-size: 1.9em;
	    color: #45d7d6;
        display: block;
        text-align: center;
    	padding-top: 8px;
	}

	.chat-item {
	    background-color: #f2f2f2;
	    border: none;
	}
	.item-ios.item-block .item-inner, .item-md.item-block .item-inner {
    	border: none;
    }
    .chat-row {
	    margin-top: -12px;
    	width: 100%;
    }
    .chat-col {
    	padding: 0;
    }
}
