<ion-content >
	
	<div class="relative">
		<div class="chatLog">
			
			<ion-grid class="chatLog" >
				<ion-infinite-scroll *ngIf="!isEndOfHistory" position="top" threshold="20%" (ionInfinite)="doInfinite($event)">
    				<ion-infinite-scroll-content>

    				</ion-infinite-scroll-content>
 				 </ion-infinite-scroll>
				<div #sidebar *ngFor="let message of messageStory; let last = last" (press)="onMessagePress(message)">
				    <div #task>
				      	<!-- <p *ngIf="(message.recieverID === userID)">Reply to you</p> -->
						<div *ngIf="!(message.senderID === userID)" class="chatRow to-me">
							<div  class="chatPhoto">
								<div class="photo-div" [ngStyle]="{'background-image': 'url(' + chatUsers[message.senderID].photoURL + ')'}"></div>
							</div>
							<div  class="chatMessage">
								<div [innerHtml]="message.message" (click)="openURL(message)"><!-- {{message.message}} --></div>
								<!-- <img *ngIf="message.pictureURL " [src]="message.pictureURL"> -->
								<div *ngIf="message.pictureURL" class="message-picture" [ngStyle]="{'background-image': 'url(' + message.pictureURL + ')'}"></div>
							</div>
						</div>
						<div *ngIf="(message.senderID === userID)" class="chatRow from-me">
							<div  class="chatPhoto">
								<div class="photo-div" [ngStyle]="{'background-image': 'url(' + chatUsers[message.senderID].photoURL + ')'}"></div>
							</div>
							<div  class="chatMessage">
								<div [innerHtml]="message.message" (click)="openURL(message)"><!-- {{message.message}} --></div>
								<!-- <img *ngIf="message.pictureURL " [src]="message.pictureURL" src="assets/default.png"> -->
								<div *ngIf="message.pictureURL" class="message-picture" [ngStyle]="{'background-image': 'url(' + message.pictureURL + ')'}"></div>
							</div>
						</div>
						{{last ? scrollFunction() : ''}}
					</div>
				</div>
				
			<!-- <div class="chatRow date-divider">
				Monday, 10:40 am
			</div> -->
			</ion-grid>
		</div>

		
	</div>

</ion-content>
<ion-footer>
	<div class="chatButtons"> 
		<form (ngSubmit)="sendMessage()" >
			<div class="chatTextarea">
				<ion-row class="chat-row">
					<ion-col col-10 class="chat-col">
						<ion-item class="chat-item">
							<ion-input class="chatInput" [(ngModel)]="messageText" [ngModelOptions]="{standalone: true}" placeholder="Say something..."></ion-input>
						</ion-item>
					</ion-col>
					<ion-col col-2 class="chat-col">
							<a  style="float: left; width: 100%; height: 100%;" type="submit" (click)="sendMessage()"><ion-icon class="send-icon" name="ios-arrow-dropup-circle" item-right></ion-icon></a>
					</ion-col>
				</ion-row>
			</div>
			<div class="chatAddMedia">
				<button  on-tap="uploadPhotoClick()"><ion-icon name="ios-camera" item-right></ion-icon></button>
				<!-- <ion-row style="margin-top: 9px;">
					<ion-col>
						<button (click)="uploadPhotoClick()"><ion-icon name="ios-camera" item-right></ion-icon></button>
					</ion-col>
					<ion-col>
						<button (click)="openEmoji()"><img src="assets/img/smile.png"></button>
					</ion-col>
				</ion-row> -->
			</div>
			<!-- <emoji-input
				  [(model)]="messageText"
				  [popupAnchor]="'bottom'"
				  (emojiClick)="openEmoji()" >
			</emoji-input> -->
		</form>
	</div>
</ion-footer>

