<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Book a Table</ion-title>

    <ion-buttons end>
      <a class="call-a" href="tel: {{phone}}"><ion-icon name="ios-call" item-left></ion-icon></a>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="table-content no-scroll">
	<div class="img-book-table">
		<img src="assets/S92lFOdYRHu83FzBZWLT_LIVgirl.jpg">
	</div>

	<form class="table-form" [formGroup]="bookTableForm">

  		<ion-list>
			<ion-item class="disclaimer">
				<p>Submit your request below and a VIP Host will contact you shortly after. This form is not a table reservation confirmation and does not guarantee entry.</p>
			</ion-item>
  		<div style="color:red;">
  			<p *ngIf="!isDateValid">Please enter a valid date</p>
  			<p *ngIf="!isEmailValid">Please enter a valid e-mail</p>
  		</div>
			<ion-item>
			  <ion-label class="top-input">Date</ion-label>
			  <ion-datetime [min]="minDate" [max]="maxDate" formControlName="date" displayFormat="MMM DD, YYYY" placeholder="MMM DD, YYYY"></ion-datetime>
			</ion-item>

		    <ion-item>
		      <ion-label class="top-input">Females</ion-label>
		      <ion-select formControlName="females">
			    <ion-option checked="true" value="0">0</ion-option>
			    <ion-option value="1">1</ion-option>
			    <ion-option value="2">2</ion-option>
			    <ion-option value="3">3</ion-option>
			    <ion-option value="4">4</ion-option>
			    <ion-option value="5">5</ion-option>
			    <ion-option value="6">6</ion-option>
			    <ion-option value="7">7</ion-option>
			    <ion-option value="8">8</ion-option>
			    <ion-option value="9+">9+</ion-option>
			  </ion-select>
		    </ion-item>

		    <ion-item>
		      <ion-label class="top-input">Males</ion-label>
		      <ion-select formControlName="males">
			    <ion-option checked="true" value="0">0</ion-option>
			    <ion-option value="1">1</ion-option>
			    <ion-option value="2">2</ion-option>
			    <ion-option value="3">3</ion-option>
			    <ion-option value="4">4</ion-option>
			    <ion-option value="5">5</ion-option>
			    <ion-option value="6">6</ion-option>
			    <ion-option value="7">7</ion-option>
			    <ion-option value="8">8</ion-option>
			    <ion-option value="9+">9+</ion-option>
			  </ion-select>
		    </ion-item>

		    <ion-item>
		      <ion-label class="top-input">Phone Number</ion-label>
		       <ion-input type="tel" formControlName="phoneNumber" [textMask]="{mask: mask}" placeholder="+X(XXX) XXX XXXX"></ion-input>
		    </ion-item>

		    <ion-item>
		      <ion-label class="top-input">Email</ion-label>
		       <ion-input formControlName="email" type="email" placeholder="example@example.com"></ion-input>
		    </ion-item>

			<button [disabled]="!bookTableForm.valid" (click)="submit()" ion-button class="button button-calm button-block" type="submit" color="#000000">Submit</button>         
 		 </ion-list>
	</form>
</ion-content>
