<ion-header>
  <ion-navbar>

    <ion-buttons start  style="order: 1 !important;">
      <button ion-button menuToggle *ngIf="!isEdit" style="margin-top: -15px;">
        <ion-icon name="menu"></ion-icon>
      </button>
      <button start *ngIf="isEdit" ion-button clear (click)="cancelChanges()">
          Cancel
      </button>
    </ion-buttons>

    <ion-title>My Profile</ion-title>

    <ion-buttons end >
      <button *ngIf="!isEdit " ion-button clear (click)="editProfile()">
          Edit
      </button>
      <button *ngIf="isEdit " ion-button clear (click)="saveProfile()">
          Done
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content padding class="profile-content no-scroll">
<form class="list" [formGroup]="profileForm" (ngSubmit)="saveProfile()" novalidate>

  <div class="profile-image">
    <div style="background-image: url('../assets/default.png');" [ngStyle]="{'background-image': 'url(' + userPhoto + ')'}" class="img-container"  on-tap="onChengePhotoClick()">
     <!--  <ion-spinner style = "margin: 0 auto; display: block;" name="circles" *ngIf="isPhotoLoading" class="spinner-chat"></ion-spinner> -->
    </div>
  </div>
  <h4 class="title-name">{{userData.displayName}}</h4>

  <ion-list>

    <div>
      <p *ngIf="!isNameValid" style="color: red;"> Please enter a valid name</p>
      <p *ngIf="!isEmailValid" style="color: red;"> Please enter a valid e-mail</p>
    </div>
    <ion-item>
      <ion-icon name="ios-person" item-left></ion-icon>
      <ion-input formControlName="name"  [disabled]="!isEdit" placeholder="Name"></ion-input>
    </ion-item>
   

    <ion-item>
      <ion-icon name="ios-mail" item-left></ion-icon>
      <ion-input formControlName="email" [disabled]="!isEdit" type="email" placeholder="example@example.com"></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-icon name="ios-call" item-left></ion-icon>
      <ion-input type="tel" [textMask]="{mask: mask}" [disabled]="!isEdit" formControlName="phoneNumber" placeholder="+X(XXX) XXX XXXX"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-calendar" item-left></ion-icon>
       <ion-label> {{userData.dob | date: 'MM/dd/yyyy' }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-pin" item-left></ion-icon>
       <ion-input type="tel" [disabled]="!isEdit"  formControlName="zipCode" placeholder="XXXXXX"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-musical-notes" item-left></ion-icon>
       <ion-label (click)="onMusicPreferenceClick()" >Music Preference</ion-label>
    </ion-item>
    <button ion-button class="button button-assertive button-block"  on-tap="logOutUser()">Log Out</button>  
  </ion-list>
</form>

  
</ion-content>