<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LIV TV</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll" (ionScroll)="scrollHandler($event)">
    <!--  <div class="up-button" (click) = "scrollToTop()">
		<ion-icon name="ios-arrow-up" item-left></ion-icon>
	</div> -->

	<ion-grid class="livtv-grid">
		<ion-row class="search-row">
	       <form (ngSubmit)="onSearchClick()" style="width: 100%">
    		<ion-searchbar  (ionInput)="onInput($event)" [ngModelOptions]="{standalone: true}"  [(ngModel)]="searchInput" placeholder="Search Videos..." ></ion-searchbar>
    		</form>
  		</ion-row>
	  	<div *ngFor="let video of videos">
	    <ion-row>
	        <ion-col>
				<div class="video-container">
					<img class="play-youtube-video" src="assets/play-youtube.png" (click)="openVideo(video.id)">
					<img [src]="video.img" (click)="openVideo(video.id)">
				
				</div>
	        </ion-col>	
	  	</ion-row>
	    <ion-row >
	        <ion-col >
				<p class="title-video">{{video.title}}</p>
			    <div class="show-list-numbers-and-dots" >
			      <p  class="description-video">{{video.toFullDescription?video.fullDescription:video.description}}
				      <a *ngIf="!video.toFullDescription" (click)="onSeeMoreClick(video)">see more</a>
				      <a *ngIf="video.toFullDescription" (click)="onSeeMoreClick(video)">less</a>
			      </p>
			    </div>
	        </ion-col>
	  	</ion-row>
	  	</div>   
	</ion-grid>
	<ion-label *ngIf="isSearchResultEmpty" style="text-align: center;">No results</ion-label>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
